lab1/Zad2/main_static_O0
.vscode/launch.json
lab1/Zad2/main_static_O0
lab1/Zad1/lib_merge/libmerge.so
lab2/zad03/main
lab2/.vscode/launch.json
lab2/.vscode/launch.json
lab2/lib/lib_reader_static.o
*.o
*.so
*.a 
lab2/lib/libunifile.a
lab2/.vscode/launch.json
lab3/zad03/main_static_O0
lab3/.vscode/settings.json
lab3/zad03/testFolder/kek.txt
lab3/zad03/testFolder/testFolder2/a
lab3/zad03/testFolder/testFolder2/lol.txt
lab3/zad03/testFolder/testFolder2/testFolder3/aragon.txt
lab3/zad03/testFolder/testFolder2/testFolder3/garosh.txt
lab3/zad03/testFolder/testFolder2/testFolder3/testFolder5/re.txt
lab3/zad03/testFolder/testFolder2/testFolder4/main.txt
lab3/zad02/vg_logfile.out
lab3/zad02/result/main_static_fork_O0.txt
lab3/zad02/result/main_static_without_fork_O0.txt
lab3/zad02/test/big
lab3/zad02/test/huge
lab3/zad02/test/large
lab3/zad02/test/med
lab3/zad02/test/small
lab3/zad02/test/test_commands.txt
lab3/zad02/main_static_O0
*.txt
*.out
*.tar
lab4/zad01/main_static_O0
*.out
lab4/zad01/raport2.txt
lab4/zad03/b/raport.txt
lab4/zad03/a/raport.txt
lab.tar
*.json
lab5/.vscode/launch.json
lab6/chat
lab6/chat/*
.vscode/
